*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store
/gradle/gradle-daemon-jvm.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
.agents/
skills-lock.json
